<ion-view title="Available Nearby" id="page11">
    <ion-content padding="true" class="has-header">
        <ion-list id="availableNearby-list10">
            <ion-item class="item-avatar item-icon-right positive  " id="availableNearby-list-item4" ui-sref="details">
                <img src="img/7aodLM1kQpOA09sj9i3C_smiling_woman.jpg">
                <h2positive>Dany
                    <p>15 Items</p>
                    <i class="icon ion-android-arrow-dropright-circle"></i>
                </h2positive>
            </ion-item>
            <ion-item class="item-avatar item-icon-right positive  " id="availableNearby-list-item24" ui-sref="details">
                <img src="img/5PNcLp87TwiG0kxiBR9R_smiling_guy.jpg">
                <h2positive>Jon
                    <p>5 Items</p>
                    <i class="icon ion-android-arrow-dropright-circle"></i>
                </h2positive>
            </ion-item>
            <ion-item class="item-avatar item-icon-right positive  " id="availableNearby-list-item25" ui-sref="details">
                <img src="img/xnO9YIBCRniASepYY9Aa_smiling_girl.jpg">
                <h2positive>Arya
                    <p>2 Items</p>
                    <i class="icon ion-android-arrow-dropright-circle"></i>
                </h2positive>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>