<ion-view title="Details" id="page12">
    <ion-content padding="true" class="has-header">
        <form id="details-form6" class="list ">
            <ion-list id="details-list11">
                <label class="item item-input " id="details-input9">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="details-input10">
                    <span class="input-label">Address</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <div>
                <img src="img/oWdjyQRLRA6sbzlalSud_generic_map.jpg" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-list id="details-list13">
                <ion-item class="item-thumbnail-left  " id="details-list-item17">
                    <h2>Item</h2>
                </ion-item>
            </ion-list>
            <button id="details-button10" class=" button button-positive  button-block ">Confirm</button>
        </form>
    </ion-content>
</ion-view>