<ion-view title="Payment" id="payment">
    <ion-content padding="true" class="has-header">
        <h3 id="payment-heading3" style="color:#000000;">Payment</h3>
        <form id="payment-form2" class="list ">
            <ion-list id="payment-list2">
                <form id="payment-form5" class="list ">
                <label class="item item-input " id="payment-input4">
                    <span class="input-label">Complete Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="payment-input5">
                    <span class="input-label">Credit Card</span>
                    <input type="number" placeholder="">
                </label>
                <label class="item item-input " id="payment-input6">
                    <span class="input-label">CVV</span>
                    <input type="number" placeholder="">
                </label>
                <label class="item item-input " id="payment-input8">
                    <span class="input-label">Security Code</span>
                    <input type="number" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="shoppingStatus" id="payment-button3" class=" button button-balanced  button-block ">Finish</a>
        </form>
    </ion-content>
</ion-view>